@using Corbis.CMS.Web.Models
@model ChangePasswordModel

@{
    string popupID = this.ViewBag.PopupID.ToString();
    string userID = ((object)this.ViewBag.UserID).ToString();
    
    var options = new AjaxOptions() 
    { 
        HttpMethod = "POST",
        OnBegin = "onBeginMsAjaxRequest", 
        OnComplete = "onCompleteMsAjaxRequest",
        OnSuccess = "onResetPasswordSuccess"
    };
}
@using (Ajax.BeginForm("ChangePasswordPopup", "User", options))
{
    @Html.ValidationSummary()
    @Html.Hidden("userID", userID)
    @Html.Hidden("popupID", popupID)
    <div>
        <p>
            <label>New Password</label>@Html.EditorFor(x => x.Password)
        </p>
        <p>
            <label>Confirm Password</label>@Html.EditorFor(x => x.PasswordConfirmation)
        </p>
    </div>
    <div>
        <input type="submit" value="Apply" />
        <input class="corbis-button-cancel" type="button" value="Cancel" />
    </div>
}

<script type="text/javascript">
    $(function () {
        var jpopup = $('div[corbis-popup-id="' + '@popupID' + '"]');

        jpopup.find('input.corbis-button-cancel').click(function () {
            closePopupWindow('@popupID');
        });

        if('@this.IsPost.ToString().ToLower()' == 'true') {
            $.validator.unobtrusive.parse(jpopup.find('form'));
        }
    });
    function onResetPasswordSuccess(result) {
        if (result.success != undefined) { 
            if(result.success == true)
                closePopupWindow('@popupID');                
        }
        else {
            $('div[corbis-popup-id="' + '@popupID' + '"]').html(result);
        }
    }
</script>


