@using Corbis.CMS.Web.Code
@using Corbis.CMS.Entity
@model IEnumerable<AdminUser>

@{
    var eitems = Enum.GetValues(typeof(AdminUserRoles)).Cast<AdminUserRoles>().ToList();
}
<table class="corbis-users">
    <tr>
        <th>Name</th>
        <th>Login</th>
        <th>Email</th>
        <th>Active</th>
        <th>Role</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr corbis-item-id="@item.ID">
            <td class="corbis-user-name">
                @Html.Raw(item.GetFullName())
            </td>
            <td class="corbis-user-login">
                @Html.DisplayFor(modelItem => item.Login)
            </td>
             <td class="corbis-user-email">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                @Html.CheckBox("IsActive", item.IsActive, new { @class = "check-box" })
            </td>
            <td>
                @Html.DropDownList("roles", eitems.Select(x => new SelectListItem() { Text = x.GetText(), Value = x.ToString(), Selected = (x == item.Roles) }))
            </td>
            <td>
                <a href="javascript:void(0)" onclick="showResetPasswordPopup('@item.ID.Value')">Change Password</a>
            </td>
            <td>
                <a href="javascript:void(0)" onclick="showEditUserDetailsPopup('@item.ID'); return false;" title="Edit User Details" >
                    <img src="/Images/edit.png" alt="edit" />
                </a>
            </td>
            <td>              
                <a href="javascript:void(0)" onclick="deleteUser({ id: @item.ID.Value, login: '@item.Login' }, this); return false;" title="Delete">
                    <img style="width: 33px;" src="/Images/trash.png" alt="delete" />
                </a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    CorbisUserMngr.activationAction = '@Url.Action("ChangeUserActivation", "User")';
    CorbisUserMngr.changePasswordAction = '@Url.Action("ChangePasswordPopup", "User")';
    CorbisUserMngr.delAction = '@Url.Action("DeleteUser", "User")';
    CorbisUserMngr.changeRoleAction = '@Url.Action("ChangeUserRoles", "User")';

    function showEditUserDetailsPopup(userID) {
        showPopupWindow({
            popupID: 'editUserDetailsPopup',
            title: 'Edit User Details',
            url: '@Url.Action("UserProfileDetailsPopup", "User")',
            params: { userID: userID }
        });
    }
</script>
