@using Corbis.CMS.Web.Code
@using Corbis.CMS.Entity
@model IEnumerable<AdminUser>
<table class="corbis-users">
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Login</th>
        <th>Email</th>
        <th>Is Active</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr corbis-item-id="@item.ID">
            <td>
                @Html.Raw(item.GetFullName())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                @Html.CheckBox("IsActive", item.IsActive, new { @class = "check-box" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                <a href="/User/Edit/@item.ID" title="Edit" >
                    <img src="/Images/edit.png" alt="edit" />
                </a>
            </td>
            <td>              
                <a href="javascript:void(0)" onclick="deleteUser({ id: @item.ID.Value, login: '@item.Login' }, this); return false;" title="Delete">
                    <img style="width: 33px;" src="/Images/trash.png" alt="delete" />
                </a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    $(function () {
        $('table.corbis-users input[type=checkbox]').click(function () {
            var jthis = $(this);

            var attribute = 'corbis-post-canceled';

            if (jthis.attr(attribute) != undefined) {
                jthis.removeAttr(attribute);
                return;
            }

            var isActive = jthis.is(':checked');

            var onSuccess = function (result) {
                if (result.success == true) {
                    //do nothing of show notification about success
                }
                else if (result.success == false) {
                    alert(result.error);
                    jthis.attr(attribute, '1');
                    jthis.trigger('click');
                }
                else {
                    throw 'Not implemented case';
                }
            };
            var onError = function () {
                jthis.attr(attribute, '1');
                jthis.trigger('click');
            }

            $.ajax({
                type: 'post',
                url: '@Url.Action("ChangeUserActivation", "User")',
                data: { id: jthis.closest('tr').attr('corbis-item-id'), isActive: isActive },
                success: onSuccess,
                error: onError
            });
        });
    });
</script>
