@using Corbis.CMS.Entity
@using Corbis.CMS.Web.Code
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap.min.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.7.1-vsdoc.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/Scripts/jquery.json-2.3.min.js")
        @Scripts.Render("~/Scripts/jquery.autocomplete.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
        @Scripts.Render("~/Scripts/swfobject.js")
        @Scripts.Render("~/Scripts/Corbis/Corbis.Common.js")
        
       <script type="text/javascript">
            //client error logger. It is singleton
            var ClientLogger = new clientLogger({ url: '@Url.Action("LogClientEntry", "Error")', showErrorAlerts: true });
        </script>

    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p id="p_title" class="site-title"></p>
                    </div>
                    @if (this.Request.IsAuthenticated) {
                        var user = this.GetCurrentUser();
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Galleries", "Index", "Gallery")</li>
                                <li>@Html.ActionLink("Templates", "Index", "Template")</li>
                                @if (user.Roles.HasValue && user.Roles.Value.HasFlag(AdminUserRoles.SuperAdmin)) {
                                <li>@Html.ActionLink("Users", "Index", "User")</li> }
                            </ul>
                        </nav>
                    </div>
                    }
                </div>
            </header>
            <div id="body">
                <div id="loading" style="display:none"></div>
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
