@using Corbis.CMS.Web.Models
@using Corbis.CMS.Web.Code
@model GalleryContentImageModel

@{
    var imageUIID = Guid.NewGuid().ToString("N");
    
    var emptyClass = "empty";
    var QnAClass = "QnA";
    var pullquoteClass = "pullquote";
    var bodycopyClass = "bodycopy";
    
    var em = this.Model.TextContent as EmptyTextContentModel;
    var qa = this.Model.TextContent as QnATextContentModel;
    var pq = this.Model.TextContent as PullQuotedTextContentModel;
    var bc = this.Model.TextContent as BodyCopyTextContentModel;

    var position = this.Model.TextContent.Position;
    
    var txtMode = em != null ? emptyClass :
                        (qa != null ? QnAClass :
                            (pq != null ? pullquoteClass :
                                (bc != null ? bodycopyClass : null)));
 }
<div class="contentImage" corbis-item-id="@this.Model.ID">
    <span class="toolbar">
        <a href="javascript:void(0)" class="minimal"></a>
        <a href="javascript:void(0)" class="close"></a>
    </span>
    <span class="up_down">
        <a class="up" href="javascript:void(0)"></a>
        <a class="down" href="javascript:void(0)"></a>
    </span>
    <div class="collapsed" style="display: none;">
        <img src="@this.Model.Urls.Small" alt="" />
    </div>
    <div class="expanded">
        <div class="imgArea">
            <div class="imgToolbar">
                <a href="javascript:void(0)">Upload</a>
            </div>
            <div class="imgPresenter">
                <img src="@this.Model.Urls.Middle" alt="@this.Model.Text" />
            </div>
            <div class="txtAlign">
                <ul>
                    <li corbis-data-position="left" class="left"><a href="javascript:void(0)"></a></li>
                    <li corbis-data-position="right" class="right"><a href="javascript:void(0)"></a></li>
                    <li corbis-data-position="center" class="center"><a href="javascript:void(0)"></a></li>
                    <li corbis-data-position="bottom" class="bottom"><a href="javascript:void(0)"></a></li>
                    <li corbis-data-position="top" class="top"><a href="javascript:void(0)"></a></li>
                </ul>
            </div>
        </div>
        <div class="txtArea">
            <div class="radioGroup"> 
                <label for="empty_@this.Model.ID">None</label><input name="radioGroup_@this.Model.ID" id="empty_@this.Model.ID" corbis-txt-type="@emptyClass" checked="checked" type="radio" />       
                <label for="qa_@this.Model.ID">Q&amp;A</label><input name="radioGroup_@this.Model.ID" id="qa_@this.Model.ID" corbis-txt-type="@QnAClass" type="radio" />
                <label for="pq_@this.Model.ID">Pullquote</label><input name="radioGroup_@this.Model.ID" id="pq_@this.Model.ID" corbis-txt-type="@pullquoteClass" type="radio" />
                <label for="bc_@this.Model.ID">Body copy</label><input name="radioGroup_@this.Model.ID" id="bc_@this.Model.ID" corbis-txt-type="@bodycopyClass" type="radio" />            
            </div>
            <div class="txtInputs">
                @{ 
                    var emContentID = "emContent_" + this.Model.ID;
                    var qaContentID = "qaContent_" + this.Model.ID;
                    var pqContentID = "pqContent_" + this.Model.ID;
                    var bcContentID = "bcContent_" + this.Model.ID;
                
                    var routeValues = new { galleryID = this.Model.GalleryID, imageID = this.Model.ID };
                }
                <div style="display: none;" class="@emptyClass">
                    @using (Ajax.BeginForm("SetEmptyContent", "Gallery", routeValues, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onEmptySuccess" + imageUIID })) {
                        @Html.Hidden("position")
                        <div id="@emContentID">
                            @Html.Partial("EmptyTextContentPartial", em ?? new EmptyTextContentModel())
                        </div>
                        <input value="Apply" type="submit" />
                    }
                </div>
                <div style="display: none;" class="@QnAClass">
                    @using (Ajax.BeginForm("SetQnAContent", "Gallery", routeValues, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onQnASuccess" + imageUIID })) {
                        @Html.ValidationSummary()
                        @Html.Hidden("position")
                        <div id="@qaContentID">
                            @Html.Partial("QnATextContentPartial", qa ?? new QnATextContentModel() { Question = string.Empty, Answer = string.Empty })
                        </div>
                        <input value="Apply" type="submit" />
                    }
                </div>
                <div style="display: none;" class="@pullquoteClass">
                    @using (Ajax.BeginForm("SetPullQuotedContent", "Gallery", routeValues, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onPullQuotedSuccess" + imageUIID })) {
                        @Html.ValidationSummary()
                        @Html.Hidden("position")
                        <div id="@pqContentID">
                            @Html.Partial("PullQuotedTextContentPartial", pq ?? new PullQuotedTextContentModel() { Text = string.Empty })
                        </div>
                        <input value="Apply" type="submit" />
                    }
                </div>
                <div style="display: none;" class="@bodycopyClass">
                    @using (Ajax.BeginForm("SetBodyCopyContent", "Gallery", routeValues, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onBodyCopySuccess" + imageUIID })) {
                        @Html.ValidationSummary()
                        @Html.Hidden("position")
                        <div id="@bcContentID">
                            @Html.Partial("BodyCopyTextContentPartial", bc ?? new BodyCopyTextContentModel() { BodyCopy = string.Empty, DropCap = string.Empty })
                        </div>
                        <input value="Apply" type="submit" />
                    }
                </div>            
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
    <script type="text/javascript">
        function onQnASuccess@(imageUIID)(data) {
            _onTextContentSaveSuccess(data, '#@qaContentID');
        }
        function onPullQuotedSuccess@(imageUIID)(data) {
            _onTextContentSaveSuccess(data, '#@pqContentID');
        }
        function onBodyCopySuccess@(imageUIID)(data) {
            _onTextContentSaveSuccess(data, '#@bcContentID');
        }
        function onEmptySuccess@(imageUIID)(data) {
            _onTextContentSaveSuccess(data, '#@emContentID');
        }

        $(function () {
            InitContentImage({ imageID: '@this.Model.ID', 
                position: (@(position.HasValue ? 1 : 0) == 1 ? '@(position.HasValue ? position.Value.ToString().ToLower() : string.Empty)' : null),
                txtMode: '@txtMode'
            });
        });
    </script>
</div>

