@model Corbis.CMS.Web.Models.CustomImageContentModel
@{
    var contentImageUrl = Model.ContentImageUrl == null ? string.Empty : Model.ContentImageUrl.Large;
}
<div>
    <a href="javascript:void(0)" onclick="editContentImage('@this.Model.ImageID','@this.Model.GalleryID'); return false;">Upload Content Image</a>
</div>
<div corbis-content-id="@this.Model.ImageID">
    <div class="imgPresenter">
        <img src="@contentImageUrl"  />
    </div>
</div>
<div class="blockWP">
    <div class="left_side">
<label>Height</label>
@Html.TextBoxFor(x => x.Height)
    </div>
    <div class="right_side">
        <label>Width</label>
        @Html.TextBoxFor(x => x.Width)
    </div>
</div>
<script type="text/javascript">

    function reUploadGalleryImageCallback(result) {
        var data = jQuery.parseJSON(result);
        var jimg = $('div[corbis-content-id="' + data.ImageID + '"] div.imgPresenter img');
        jimg.attr('src', data.ContentUrl);
        jimg.attr('alt', data.FileName);
        return "OK";
    }

    function editContentImage(imageID, galleryID) {
        debugger;
            showPopupWindow({
                popupID: 'editGalleryImage',
                title: 'Edit Image',
                url: '@Url.Action("EditImagePopup_GET", "Gallery")',
                params: { imageID: imageID, galleryID: galleryID },
                onClosed: function() { swfobject.removeSWF('singleImageUploader'); } //TODO: it is hack. In the future it must be deleted and refactored
            });
        }



</script>
