@using Corbis.CMS.Web.Models
@using Corbis.CMS.Web.Code
@model List<GalleryItemModel>
@{
    ViewBag.Title = "Curated Galleries";
    
    var templates = GalleryRuntime.GetTemplates();
}
<h2>Curated Galleries</h2>
<p>
    @if (templates == null || templates.Length == 0) {
        <text>System does not have registered gallery templates. In order to create a gallery you must @Html.ActionLink("register", "Index", "Template") templates first.</text>
    }
    else { 
        @Html.ActionLink("Create New Gallery", "CreateGallery", "Gallery")
    }
</p>
<div>
@foreach (var item in this.Model) {
    @Html.Partial("GalleryListItemPartial", item)
}
</div>

@Scripts.Render("~/Scripts/Corbis/Corbis.GalleryIndex.js")
<script type="text/javascript">
    GalleryIndexPage.publishUrl = '@Url.Action("PublishPopup_GET", "Gallery")';
    GalleryIndexPage.unpublishUrl = '@Url.Action("UnPublish", "Gallery")';
    GalleryIndexPage.getGalleryItemUrl = '@Url.Action("GetGalleryListItem", "Gallery")';
    GalleryIndexPage.galleryInfoUrl = '@Url.Action("GetGalleryInfoPopup", "Gallery")';
    GalleryIndexPage.unLockUrl = '@Url.Action("UnLockGallery_AJAX", "Gallery")';
</script>
