@using Corbis.CMS.Web.Models
@model List<GalleryItemModel>
@{
    ViewBag.Title = "Curated Galleries";
}
<h2>Curated Galleries</h2>
<p>
    @Html.ActionLink("Create New Gallery", "CreateGallery", "Gallery")
</p>
<div>
@foreach (var item in this.Model) {
    @Html.Partial("GalleryListItemPartial", item)
}
</div>

@Scripts.Render("~/Scripts/Corbis/Corbis.GalleryIndex.js")
<script type="text/javascript">
    GalleryIndexPage.publishUrl = '@Url.Action("PublishPopup_GET", "Gallery")';
    GalleryIndexPage.unpublishUrl = '@Url.Action("UnPublish", "Gallery")';
    GalleryIndexPage.getGalleryItemUrl = '@Url.Action("GetGalleryListItem", "Gallery")';
    GalleryIndexPage.galleryInfoUrl = '@Url.Action("GetGalleryInfoPopup", "Gallery")'; 
</script>
